// Typography
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-arial: Arial, Helvetica, sans-serif;

// Colors
$red: #fe0002;
$dred: #c40002;
$yellow: #fdfc14;
$black: #000;
$white: #fff;
$gray: #999;
$lgray: #ccc;